{% include "./header_links.html" %}
<!--owned_requests provided_rides shared_requests-->


{% if vehicle %}
<h3>Status: Driver</h3>
<h2>Vehicle info</h2>
<p>License plate: {{vehicle.license_plate_number}}. Brand: {{vehicle.vehicle_brand}}. Capacity: {{vehicle.max_capacity}}. Special info:{{vehicle.special_features}}.</p>
<a href = "/riderequests/specify_vehicle"> <button >Edit info</button> </a>
<form action="/riderequests/remove_driver/" method = "post">
	{% csrf_token %}
	<button type="submit">Remove driver status</button>
</form>
{% else %}
<h3>Status: Passenger</h3>
<a href = "/riderequests/specify_vehicle"> <button >Become a driver</button> </a>
{% endif %}


<h2>Owned requests</h2>
{% if owned_requests %}

<ul>
	{% for req in owned_requests %}
	<li>
		<p>Status: {{req.status}}. Requester: {{req.requester}}. From: {{req.src_loc}}, To: {{req.dst_loc}}. Sharers: {{req.other_user_passengers}}. Driver:{{req.driver}}, Arrival time: {{req.request_time}}</p>
		<button onclick = "toggleShow('owned_req_details_{{forloop.counter}}')"> Display further details </button>
		<p id = "owned_req_details_{{forloop.counter}}" style="display:none">License plate: {{req.license_plate}}, Vehicle brand: {{req.vehicle_brand}}, Passengers: {{req.n_passengers}}, Special requests: {{req.special_features}}</p>

		{% if req.status == 'OPEN'%}

		<a href="/riderequests/edit_request/?id={{req.id}}">
			<button type = "button">Edit </button>
		</a>
		{% endif %}



	</li>

	<br>

	{% endfor %}
</ul>
{% else %}
<p> You own no requests! </p>
{% endif %}

<h2>Shared requests</h2>

{% if shared_requests %}
<ul>
	{% for req in shared_requests %}
	<li>
		<p>Status: {{req.status}}. Requester: {{req.requester}}. From: {{req.src_loc}}, To: {{req.dst_loc}}. Sharers: {{req.other_user_passengers}}. Driver:{{req.driver}}, Arrival time: {{req.request_time}}</p>
		<button onclick = "toggleShow('shared_ride_details_{{forloop.counter}}')"> Display further details </button>
		<p id = "shared_ride_details_{{forloop.counter}}" style="display:none">License plate: {{req.license_plate}}, Vehicle brand: {{req.vehicle_brand}}, Passengers: {{req.n_passengers}}, Special requests: {{req.special_features}}</p>
	</li>
	{% endfor %}
</ul>
{% else %}
<p> You shared no requests! </p>
{% endif %}

<h2>Provided rides</h2>

{% if provided_rides %}
<ul>
	{% for req in provided_rides %}
	<li>

		<p>Status: {{req.status}}. Requester: {{req.requester}}. From: {{req.src_loc}}, To: {{req.dst_loc}}. Sharers: {{req.other_user_passengers}}. Driver:{{req.driver}}, Arrival time: {{req.request_time}}</p>
		<button onclick = "toggleShow('provided_ride_details_{{forloop.counter}}')"> Display further details </button>
		<p id = "provided_ride_details_{{forloop.counter}}" style="display:none">License plate: {{req.license_plate}}, Vehicle brand: {{req.vehicle_brand}}, Passengers: {{req.n_passengers}}, Special requests: {{req.special_features}}</p>


		{% if req.status == 'C' %}
		<form action="/riderequests/finish_ride/" method = "post">
			{% csrf_token %}
			<button type="submit" name="id" value="{{ req.id }}" >Mark Complete</button>
		</form>
	</li>

	{% endif %}
	{% endfor %}
</ul>
{% else %}
<p> You are not giving any rides </p>
{% endif %}




<script>
	function toggleShow(elementID) {
		var x = document.getElementById(elementID);

		if (x.style.display!='none') {
			x.style.display='none';
		} else {
			x.style.display = 'initial';
		}
	}
</script>
